<div class="form">
    <div class="form__container">
            <h2>Sign In</h2>
        <%= form_tag(session_path) do %>
            
            <div class="input-box">
                <%= email_field_tag :email %>
                <span>Email</span>
                 <i></i>
            </div>
            <div class="input-box">
                <%= password_field_tag :password %>
                <span>Password</span>
                <i></i>
            </div>
            <div class="links">
                <%= link_to "Forgot your password?", '#' %>
                <%= link_to "Sign Up", new_user_path %>
            </div>
            <%= submit_tag "Sign in", class: "btn" %>
        <% end %>
    </div>
</div>