<div class="form form--mid">
  <div class="form__container">
  <h2>Register</h2>
    <%= form_for(@user) do |f| %>
     <%= render 'shared/errors', object: @user %>
          <div class="input-box">
            <%= f.text_field :name, autofocus: true  %>
            <span>Username</span>
            <i></i>
          </div>
          <div class="input-box">
            
            <%= f.email_field :email %>
            <span>Email</span>
            <i></i>
          </div>
          <div class="input-box">
            <%= f.password_field :password, autofocus: true  %>
            <span>Password</span>
            <i></i>
          </div>
          <div class="input-box">
            <%= f.password_field :password_confirmation, autofocus: true %>
            <span>password Confirmation</span>
            <i></i>
          </div>
  
        <% if @user.new_record? %>
          <%= f.submit "Create account", class: "btn btn--mid" %>
        <% else%>
          <%= f.submit "Update account", class: "btn" %>
          <% end %>
    <% end %>
  </div>
</div>