<div class="form">
  <div class="form__container">
  <h2>Register</h2>
    <%= form_for(@user) do |f| %>
     <%= render 'shared/errors', object: @user %>
          <div class="input-box">
            <%= f.label :name %>
            <%= f.text_field :name, autofocus: true %>
            <i></i>
          </div>
          <div class="input-box">
            <%= f.label :email %>
            <%= f.email_field :email %>
            <i></i>
          </div>
          <div class="input-box">
            <%= f.label :password %>
            <%= f.password_field :password %>
            <i></i>
          </div>
          <div class="input-box">
            <%= f.label :password_confirmation, "Confirm password" %>
            <%= f.password_field :password_confirmation %>
            <i></i>
          </div>
  
        <% if @user.new_record? %>
          <%= f.submit "Create account", class: "btn btn--mid" %>
        <% else%>
          <%= f.submit "Update account", class: "btn" %>
          <% end %>
    <% end %>
  </div>
</div>