<div class="box">
  <div class="form">
    <%= form_for(@user) do |f| %>
     <%= render 'shared/errors', object: @user %>
          <li class="required">
            <%= f.label :name %>
            <%= f.text_field :name, autofocus: true %>
          </li>
          <li class="required">
            <%= f.label :email %>
            <%= f.email_field :email %>
          </li>
          <li class="required">
            <%= f.label :password %>
            <%= f.password_field :password %>
          </li>
          <li class="required">
            <%= f.label :password_confirmation, "Confirm password" %>
            <%= f.password_field :password_confirmation %>
          </li>
  
        <% if @user.new_record? %>
          <%= f.submit "Create account" %>
        <% else%>
          <%= f.submit "Update account" %>
          <% end %>
    <% end %>
  </div>
</div>